In [10]:
import pymongo
conn = pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["mydatabase"]
col = db["student"]

In [11]:
var = col.find({"Age":"21"})
for i in var:
    print(i)

{'_id': ObjectId('67e22b0ecd2264e2a6394c46'), 'Name': 'Aishu', 'Age': '21', 'Place': 'Trivandrum'}

In [12]:
cond = {"Age":21}
newvalue = {"$set":{"Place":"Palakkad"}}
col.update_many(cond,newvalue)

UpdateResult({'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}, acknowledged=True)